<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    

  <img src="img/StudyWLU.png" style="width: 100%"> </img>

  <div class="card padding-top">
    <div class="item item-divider dark">
      What?
    </div>
    <div class="item item-text-wrap">
    Study@WLU is a room scheduling application that lets student find empty classrooms around the Waterloo WLU campus. It's powered by the <a href="https://github.com/hilts-vaughan/wlu-loris-api">LORIS API</a> written by the same person.
    </div>
  </div>


  <div class="card padding-top">
    <div class="item item-divider dark">
      Who?
    </div>
    <div class="item item-text-wrap">
    Study@WLU is written and maintained by Vaughan Hilts, a student from Wilfrid Laurier University.</a>
    </div>
  </div>

  <div class="card padding-top">
    <div class="item item-divider dark">
      Contact
    </div>
    <div class="item item-text-wrap">
      For all bug reports, inquiries or support please contact HILT2740@mylaurier.ca.
    </div>
  </div>



  </ion-content>
</ion-view>
