<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.data.theme.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.data.theme.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="{{site.url}}/atom.xml" />

  <link rel="stylesheet" href="/assets/css/vendor/sakura-1.5.1.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/vendor/sakura-dark-1.5.1.css" type="text/css" media="screen and (prefers-color-scheme: dark)">
  <link rel="stylesheet" href="/assets/css/site.css">
  {% if page.comments %}
  <link rel="stylesheet" href="/assets/css/bluesky-comments.css">
  {% endif %}
</head>
<body>
  <header class="site-header">
    {% include sidebar.html %}
  </header> 

  <main class="site-content">
    {{ content }}
  </main>

  <footer class="site-footer">
    {% include footer.html %}
  </footer>

{% include analytics.html %}
</body>
</html>
