---
layout: default
comments: true
---

{% assign bluesky_author_handle = page.bluesky_author_handle | default: site.bluesky_author_handle %}
<p class="post-meta">
  {{ page.date | date: "%B %d, %Y" }}
  <a href="/">Posts</a>
</p>

<h1 class="post-title">{{ page.title }}</h1>

<article id="post" class="post-content">
  {{ content }}
</article>

{% if page.comments %}
  {% include archived_comments.html %}
  {% include bluesky_comments.html %}
{% endif %}

<aside id="related" class="related-posts">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</aside>
